$body-color: black;
$border-color:#eeeeee;
$border-innerContainerColor:#000000;
$border-topbar:red;
$border-bottombar:green;
$border-sheetContainerColor:blue;
$border-sheetButton:1px solid grey;
$gutter-backgroundColor:#ccc;
$row-defaultBorderColor:#000000;

div.gridsheet
{
  color: $body-color;
  font-family: Helvetica;
  overflow: hidden;
  border:1px solid $border-color;
  div.loader
  {
    position: absolute;
    top: inherit;
    left:inherit;
    background-color: $gutter-backgroundColor;
    opacity: 0.5;
  }
  div.innercontainer{
    border:1px solid $border-innerContainerColor;
    overflow: scroll;
    position: absolute;
    top:inherit;

    div.sheetcontainer
    {
      width:inherit;
      div.sheet
      {
        position: absolute;
        top:0px;
        left:0px;
        div.column
        {
          position: absolute;
          // float:left;
          top:0px;
          div.row
          {
              width:inherit;
              border:1px solid $row-defaultBorderColor;
              
          }
          div.gutter
          {
              background-color: $gutter-backgroundColor;
              border:1px solid $row-defaultBorderColor;
              text-align: center;
          }

          div.columnresizehandle
          {
            position: absolute;
            border:1px solid $row-defaultBorderColor;
          }
        }
        
      }
    }
  }
  div.topbar
  {
    position: absolute;
    top:inherit;
    border:1px solid $border-topbar;
  }
  div.bottombar
  {
    position: absolute;
    border:1px solid $border-bottombar;
    div.sheetbuttoncontainer
    {
      width:inherit;
      height:inherit;
      div.sheetbutton
      {
        float:left;
        padding:5px;
        margin-right:1px;
        border:$border-sheetButton;
        cursor: pointer;
        background-color: #ccc;
      }
      div.active
      {
        @extend div.sheetbutton;
        background-color: #ffffff;
      }
    }
    
  }
}

.hide
{
  display:none;
}