$body-color: black;
$border-color:#eeeeee;
$border-innerContainerColor:#000000;
$border-topbar:red;
$border-bottombar:green;
$border-sheetContainerColor:blue;
$border-sheetButton:1px solid grey;
$gutter-backgroundColor:#ccc;
$row-defaultBorderColor:#000000;
body {
  color: $body-color;
}

div.gridsheet
{
  overflow: hidden;
  border:1px solid $border-color;
  div.innercontainer{
    border:1px solid $border-innerContainerColor;
    overflow: scroll;
    position: absolute;
    top:inherit;

    div.sheetcontainer
    {
      width:inherit;
      div.sheet
      {
        position: absolute;
        top:0px;
        div.column
        {
          float:left;
          div.row
          {
              width:inherit;
              border:1px solid $row-defaultBorderColor;
          }
          div.gutter
          {
              background-color: $gutter-backgroundColor;
              border:1px solid $row-defaultBorderColor;
              text-align: center;
          }
        }
        
      }
    }
  }
  div.topbar
  {
    position: absolute;
    top:inherit;
    border:1px solid $border-topbar;
  }
  div.bottombar
  {
    position: absolute;
    border:1px solid $border-bottombar;
    div.sheetbuttoncontainer
    {
      width:inherit;
      height:inherit;
      div.sheetbutton
      {
        float:left;
        padding:5px;
        margin-right:1px;
        border:$border-sheetButton;
        cursor: pointer;
      }
    }
    
  }
}

.hide
{
  display:none;
}